@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header__search {
  margin-left: 50px;
  margin-right: 5px;
  height: 20px;
  width: 600px;
  border-radius: 6px;
  border: none;
  padding: 17px;
}

.navbar-brand {
  letter-spacing: 5px;
}

.nav-link {
  margin-left: 20px;
}

.nav-link:hover {
  border-bottom: 2px solid yellow;
}

.hero img {
  width: 100%;
  margin-bottom: 50px;
}

main {
  min-height: 70vh
}

.card-body a {
  color: black;
}

.card-body a:hover {
  text-decoration: none;
  color: black;
}

.product__screen {
  margin-top: 70px;
  padding: 30px 0;
  border-top: 1px solid rgb(207, 204, 204);
  border-bottom: 1px solid rgb(207, 204, 204);
}

.cart__screen {
  margin-top: 70px;
}

.cart__container {
  margin-top: 30px;
}

.cart__items {
  padding: 20px 0;
  border-top: 1px solid rgb(207, 204, 204);
}

.card__checkout {
  background-color: #f1eeee;
}

.btn__delete {
  background-color:  #f1eeee;
}

.btn__delete:hover {
  background-color:  #f1eeee;
}

.login__container {
  margin: auto;
  width: 400px;
}

.login__body{
  margin-top: 50px;
  padding: 30px;
  background-color: #eef1ee;
}

.login__signIn {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.account__container {
  margin-top: 70px;
}

.account_items a {
  text-decoration: none;
}

.shipping__container {
  margin-top: 70px;
}


footer {
  margin-top: 100px;
  height: 250px;
  background-color: #152545;
  color: white;
  padding: 20px;
}

footer h2, h5 {
  margin-top: 30px;
}

footer li {
  list-style: none;
  cursor: pointer;
  line-height: 33px;
}

footer li:hover {
  color: white;
}